@tailwind base;
@tailwind components;
@tailwind utilities;
.link{
    @apply text-blue-700 font-medium transition duration-200 hover:scale-105 hover:text-blue-900 hover:underline;
}
.input{
    @apply bg-white border border-blue-300 rounded-md px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-400 shadow-sm transition;
}